			<% content_for :destaque do %>
			<div id="Destaque">
					<div id="Video">
						<%= image_tag "marcacao_video.jpg" %> 
					</div>
					<%= image_tag "titulos/agencia.png", :alt => "A Ag&ecirc;ncia" %> 
					<hr>
					<p class="texto">
					A SATO7 nasceu em Abril 2009, devido a necessidade de abrir uma empresa para atender a imprensa na Festa de Flores e Morangos de Atibaia. Com o sucesso do evento houve a necessidade de manter a ag&ecirc;ncia e reestrutur&aacute;-la da melhor forma poss&iacute;vel, para que se torne a ag&ecirc;ncia mais completa de toda regi&atilde;o. Hoje, com menos de 1 ano de vida, a SATO7 possui profissionais da &aacute;rea de Rela&ccedil;&otilde;es P&uacute;blicas, Jornalismo, Publicidade, Artes Gr&aacute;ficas, Design e  Marketing.  Tudo isso no interior paulista, na terra do morango!<br>
					<br>
					A ag&ecirc;ncia foi criada por Shoiti Sato, formado em Radio e TV, Rela&ccedil;&otilde;es P&uacute;blicas e atualmente est&aacute; cursando MBA em Gest&atilde;o Estrat&eacute;gica da Comunica&ccedil;&atilde;o Integrada com &ecirc;nfase em Comunica&ccedil;&atilde;o Mercadol&oacute;gica.<br>
					<br>
					A especialidade do trabalho da SATO7 &eacute; a Comunica&ccedil;&atilde;o Estrat&eacute;gica de forma integrada, unindo profissionais especializados em diversas &aacute;reas da Comunica&ccedil;&atilde;o e da &aacute;rea do Marketing, tudo para que n&atilde;o haja falhas no posicionamento da empresa perante seus principais p&uacute;blicos.<br>
					<br>
					Comunica&ccedil;&atilde;o estrat&eacute;gica &eacute; a comunica&ccedil;&atilde;o planejada e executada de forma sist&ecirc;mica e constantemente avaliada pelos profissionais da empresa, buscando atingir os objetivos gerais da comunica&ccedil;&atilde;o e mercadol&oacute;gicos para o cliente como planejamento, cria&ccedil;&atilde;o e gerenciamento de a&ccedil;&otilde;es integradas de comunica&ccedil;&atilde;o institucional, agregando assim o valor &agrave; marca, consolidando a imagem e a reputa&ccedil;&atilde;o dos nossos clientes junto a p&uacute;blicos espec&iacute;ficos ou a um grupo de sociedade como um todo.<br>
					<br>
					Comunicar com estrat&eacute;gia &eacute; comunicar com clareza, objetivo e intelig&ecirc;ncia. As organiza&ccedil;&otilde;es, sejam elas privadas ou n&atilde;o, possuem a comunica&ccedil;&atilde;o em seu interior e exterior, e na maioria das vezes n&atilde;o existe um profissional capacitado em id&eacute;ias criativas e inteligentes que possam suprir as necessidades da empresa.  A SATO7 reuniu os melhores profissionais da regi&atilde;o, com o intuito de suprir todas as necessidades da Comunica&ccedil;&atilde;o Estrat&eacute;gica de resultados, sabendo identificar essa individualidade em cada organiza&ccedil;&atilde;o, oferecendo estrat&eacute;gias e solu&ccedil;&atilde;o apropriadas para cada realidade.<br>

					</p>
			</div>
			<% end %> 
			
			<%=render :partial => "layouts/right"%>		
				
			<div id="BoxLeft">
				<div id="BoxInterna">
					<%= image_tag "titulos/visao_missao.png", :alt => "A Ag&ecirc;ncia", :class => "tituloInterna" %>
					<p class="texto">
						<b class="vermelho">Miss&atilde;o</b><br>
						Oferecer, com transpar&ecirc;ncia e estrat&eacute;gia, solu&ccedil;&otilde;es inteligentes em comunica&ccedil;&atilde;o que tragam resultados a nossos clientes.<br>
						<br>
						<b class="vermelho">Vis&atilde;o</b><br>
						N&atilde;o nos tornarmos a maior e melhor ag&ecirc;ncia de Comunica&ccedil;&atilde;o Estrat&eacute;gica e Marketing, mas nos tornarmos aquela que consegue suprir e agradar todas as necessidades dos nossos clientes. Assim tornando refer&ecirc;ncia no mercado dos profissionais e acad&ecirc;micos.<br>
						<br>
						<b class="vermelho">Valores</b><br>
						Nossos valores refletem a identidade de que todos somos um, isso s&oacute; existe devido a utilizarmos estes fatores no dia-a-dia.<br>
						<br>
						-	&Eacute;tica<br>
						-	Transpar&ecirc;ncia<br>
						-	Comprometimento<br>
						-	Criatividade<br>
						-	Inova&ccedil;&atilde;o<br>
						-	Di&aacute;logo<br>
						-	Honestidade<br>
						-	F&eacute;<br>
						-	Amizade<br>
						-	Garra<br>

					</p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/explicacao_logo.png", :alt => "Explica&ccedil;&atilde;o do Logo", :class => "tituloInterna" %> <br>
					 
					 <%= image_tag "explicacao_logo.gif", :alt => "SATO7", :align => "right" %>
					 
					 <p class="texto">
							Sato &eacute; o sobrenome do Diretor executivo da ag&ecirc;ncia, Shoiti. Logo, &eacute; o nome de sua fam&iacute;lia, que tem origem oriental (japonesa), mas se tornou uma das mais tradicionais do Brasil, tendo grande presen&ccedil;a em Atibaia e em S&atilde;o Paulo capital. &Eacute; uma fam&iacute;lia composta desde seus antepassados por homens e mulheres que trabalharam com muito afinco e no meio de diversas dificuldades por um mundo melhor e mais humano.<br>
							<br>
							<b class="vermelho">E o que significa o 7?</b><br>
							<br>
							O 7 (sete) tem diversos significados em diversas culturas, mas nos apegamos ao seu significado dentro da cultura ocidental, mais especificamente dentro da tradi&ccedil;&atilde;o judaico-crist&atilde;, onde o 7 significa nada mais nada menos que o n&uacute;mero da divindade, a totalidade perfeita e infinita de Deus. Em 7 dias Deus fez o mundo, as semanas possuem 7 dias, o arco-&iacute;ris 7 cores, etc.<br>
							A grande sacada do desenho desse logotipo &eacute; que o mesmo &iacute;cone que &eacute; o T &eacute; tamb&eacute;m o 7, o que faz com que a marca se torne mais arrojada e din&acirc;mica, sem, contudo, prejudicar a sua leitura e entendimento.<br>
							<br>
							&Eacute; o que procuramos trazer para o nosso dia-a-dia e para os nossos clientes: muito suor e trabalho para gerar as melhores id&eacute;ias e solu&ccedil;&otilde;es em comunica&ccedil;&atilde;o para voc&ecirc; e sua empresa!<br>

					 </p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/equipe.png", :alt => "Equipe", :class => "tituloInterna" %> <br>
					 					 
					 <p class="texto">
						A SATO7 possui uma equipe de 7 Diretores com seus respectivos n&uacute;cleos.<br>
						<br>
						Dentre eles est&atilde;o:<br>
						<b class="vermelho">Shoiti Sato</b> - Diretor/Presidente - diretor@sato7.com.br<br>
						<b class="vermelho">Welton (TOM)</b> - Diretor de Cria&ccedil;&atilde;o - weltoncarvalho@sato7.com.br<br>
						<b class="vermelho">Alessandro Hayashi</b> - Diretor de Contas - alessandro@sato7.com.br<br>
						<b class="vermelho">Kalil Blanco Spiandorim</b> - Diretor de Planejamento - kalil.blanco@sato7.com.br<br>
						<b class="vermelho">Gustavo Pinto</b> - Diretor de Marketing - marketing@sato7.com.br<br>
						<b class="vermelho">Ana Araujo</b> - Diretora de Eventos - eventos@sato7.com.br<br>
						<b class="vermelho">Fernanda Mendes</b> - Diretora de Imprensa - imprensa@sato7.com.br<br>
						<br>
						Nossa equipe &eacute; composta por 12 pessoas engajadas e comprometidas em realizar as melhores a&ccedil;&otilde;es e solu&ccedil;&otilde;es para os seus clientes.<br>

					 </p>
				</div>
			</div>
			