			<%=render :partial => "layouts/right"%>			
			
			<div id="BoxLeft">
				<%=image_tag "titulos/servicos.png", :alt => "Servi&ccedil;os"%>
				<hr>
				<p class="Texto">
					A SATO7 &eacute; uma ag&ecirc;ncia de comunica&ccedil;&atilde;o completa, que oferece as melhores solu&ccedil;&otilde;es para seus clientes, adequadas &agrave; sua realidade e necessidades, que trazem resultados concretos para os seus neg&oacute;cios e para sua marca.<br>
					<br>
					A ag&ecirc;ncia trabalha a comunica&ccedil;&atilde;o estrat&eacute;gica de forma integrada, unindo profissionais especializados em diversas &aacute;reas da Comunica&ccedil;&atilde;o e Marketing, para que n&atilde;o existam falhas no posicionamento da empresa perante seus principais p&uacute;blicos.<br>
					<br>
					A SATO7 oferece a comunica&ccedil;&atilde;o completa, utilizando os diversos conhecimentos da &aacute;rea de comunica&ccedil;&atilde;o, mas, se voc&ecirc; procura algo espec&iacute;fico para a sua empresa, n&oacute;s trabalhamos com os seguintes n&uacute;cleos:<br>
					<br>
					<br>
				</p>				
				
				<div id="BoxInterna" class="Reflexo">
					<%= image_tag "titulos/imprensa.png", :alt => "Imprensa", :class => "tituloInterna" %>
					<p class="texto">
							Somos a interface de relacionamento entre a imprensa e o nosso cliente, levando informa&ccedil;&otilde;es uteis e de qualidade relevante sobre os nossos assessorados, utilizando intelig&ecirc;ncia e criatividade.<br>
							<br>
							Utilizamos t&eacute;cnicas pr&oacute;prias de relacionamento com a imprensa, obtendo assim grandes parceiros que nos demonstram confiabilidade em nossas sujest&otilde;es de pauta. Trabalhamos com mais de 70 mil contatos em todo o Brasil, com o maior mailing de imprensa existente no mercado.<br>
							<br>
							A SATO7 estabelece um plano de a&ccedil;&atilde;o anual de imprensa e acompanha a cobertura de eventos, feiras e a&ccedil;&otilde;es mercadol&oacute;gicas realizadas por nossos clientes.<br>
					</p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					<%= image_tag "titulos/criacao.png", :alt => "Cria&ccedil;&atilde;o", :class => "tituloInterna" %>
					<p class="texto">
						A SATO7 possui um n&uacute;cleo de cria&ccedil;&atilde;o, formado por publicit&aacute;rios e designers. S&atilde;o profissionais criativos e que trabalham em conjunto com os demais n&uacute;cleos, a fim de criar uma identidade para todas as a&ccedil;&otilde;es propostas pela SATO7.<br>
						<br>
						-  Cria&ccedil;&atilde;o de layouts para as a&ccedil;&otilde;es propostas pela ag&ecirc;ncia;<br>
						-  Cria&ccedil;&atilde;o de estrat&eacute;gias de divulga&ccedil;&atilde;o;<br>
						-  Cria&ccedil;&atilde;o de a&ccedil;&otilde;es estrat&eacute;gicas em publicidade;<br>
						-  Branding;<br>
						-  Cria&ccedil;&atilde;o de identidade visual.<br>
					</p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/editorial.png", :alt => "Editorial", :class => "tituloInterna" %> <br>
					 
					 
					 <p class="texto">
							Com a velocidade da informa&ccedil;&atilde;o e o aumento da necessidade de uma comunica&ccedil;&atilde;o corporativa, a SATO7 criou o n&uacute;cleo EDITORIAL. Respons&aacute;vel por todos os conte&uacute;dos que estejam ligados &agrave; sua empresa e adequados aos seus p&uacute;blicos.<br>
							<br>
							-  Publica&ccedil;&otilde;es customizadas (revistas, jornais, livros e outras);<br>
							-  Conte&uacute;dos para canais de comunica&ccedil;&atilde;o diversificados;<br>
							-  Newsletter e Boletins;<br>
							-  Adapta&ccedil;&atilde;o de conte&uacute;dos internacionais para os p&uacute;blicos brasileiros.<br>
					 </p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/eventos.png", :alt => "Eventos", :class => "tituloInterna" %> <br>
					 					 
					 <p class="texto">
						O que parece ser uma a&ccedil;&atilde;o simples, pode se tornar uma estrat&eacute;gia para a prospec&ccedil;&atilde;o de novos clientes e ajudar no fomento &agrave;s vendas. Em Todos os eventos que os nossos clientes participam, existe a necessidade da nossa participa&ccedil;&atilde;o, tanto para assessoria de imprensa quanto para atrair a aten&ccedil;&atilde;o do p&uacute;blico presente.<br>
						<br>
						Realizar um evento exige a elabora&ccedil;&atilde;o de um projeto devidamente planejado, com o objetivo de manter, elevar ou recuperar o conceito de uma organiza&ccedil;&atilde;o junto ao seu p&uacute;blico alvo.<br>
						<br>
						-  Eventos Institucionais (para agregar valor &agrave; sua imagem/conceito);<br>
						-  Eventos Promocionais: (eventos organizados para a promo&ccedil;&atilde;o e divulga&ccedil;&atilde;o de um servi&ccedil;o, produto ou empresa);<br>
					 </p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/marketing.png", :alt => "Marketing", :class => "tituloInterna" %> <br>
					 					 
					 <p class="texto">
						
							Ter presen&ccedil;a no mercado, seu produto ou servi&ccedil;o reconhecido e utilizar estrat&eacute;gias para alavancar suas vendas s&atilde;o alguns dos resultados alcan&ccedil;ados atrav&eacute;s de um bom planejamento de marketing.<br>
							<br>
							O n&uacute;cleo de marketing da SATO7 elabora planos e a&ccedil;&otilde;es estrat&eacute;gicas de marketing para melhorar o posicionamento da sua empresa, servi&ccedil;o ou produto no mercado, al&eacute;m de estudos para avaliar a opini&atilde;o de seus consumidores e participa&ccedil;&atilde;o no mercado.<br>
							-  Plano de marketing (distribui&ccedil;&atilde;o, mercados, pontos de venda, participa&ccedil;&atilde;o e posicionamento);<br>
							-  Branding;<br>
							-  Treinamentos para vendedores.<br>
					 </p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/rp.png", :alt => "Rela&ccedil;&otilde;es P&uacute;blicas", :class => "tituloInterna" %> <br>
					 					 
					 <p class="texto">
						Ter uma boa imagem e ser refer&ecirc;ncia em seu mercado de atua&ccedil;&atilde;o, relacionar-se com os p&uacute;blicos de interesse de sua empresa, ter uma comunica&ccedil;&atilde;o planejada e organizada para o desenvolvimento de seus neg&oacute;cios, esses s&atilde;o alguns exemplos dos resultados alcan&ccedil;ados por um plano de Rela&ccedil;&otilde;es P&uacute;blicas.<br>
						<br>
						O n&uacute;cleo de Rela&ccedil;&otilde;es P&uacute;blicas da SATO 7 elabora planos estrat&eacute;gicos de comunica&ccedil;&atilde;o para sua empresa, com base em suas reais necessidades e que trazem resultados para sua imagem/conceito, por meio da aplica&ccedil;&atilde;o de a&ccedil;&otilde;es que visam aproxim&aacute;-la de seus p&uacute;blicos de interesse, atrav&eacute;s da comunica&ccedil;&atilde;o dirigida e adequada aos seus p&uacute;blicos.<br>
						<br>
						-  Planejamento, gest&atilde;o e execu&ccedil;&atilde;o de planos de comunica&ccedil;&atilde;o estrat&eacute;gica;<br>
						-  Planejamento de pesquisas e auditorias de opini&atilde;o;<br>
						-  Preven&ccedil;&atilde;o e gest&atilde;o de crises;<br>
						-  An&aacute;lise de cen&aacute;rio e mapeamento de p&uacute;blicos;<br>
						-  Aconselhamento administrativo;<br>
						-  Planejamento, gest&atilde;o e execu&ccedil;&atilde;o de planos de responsabilidade social e ambiental.<br>
					 </p>
				</div>
				
				<div id="BoxInterna" class="Reflexo">
					 <%= image_tag "titulos/web.png", :alt => "Web", :class => "tituloInterna" %> <br>
					 					 
					 <p class="texto">
							Pioneiro na web do Brasil, o Diretor da ag&ecirc;ncia, Shoiti Sato, criou em 1991 o que seria o primeiro portal do Brasil (BBS). Com grande experi&ecirc;ncia e com a evolu&ccedil;&atilde;o da internet, n&atilde;o poderia ser diferente. Acompanhou esta evolu&ccedil;&atilde;o e hoje desenvolvemos solu&ccedil;&otilde;es inovadoras de comunica&ccedil;&atilde;o estrat&eacute;gica interativa.<br>
							<br>
							-  Projetos focados em m&iacute;dias sociais;<br>
							-  Aux&iacute;lio na cria&ccedil;&atilde;o de web sites;<br>
							-  Cria&ccedil;&atilde;o de estrat&eacute;gias de relacionamento para web;<br>
							-  Cria&ccedil;&atilde;o de conte&uacute;do.<br>
					 </p>
				</div>
			</div>
		
			